*

!.github/
!.github/**/
!.vscode/
!.vscode/**/
!assets/
!assets/**/
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.gitmodules
!Dockerfile
!Makefile
!LICENSE
!README.md

!include/
!include/**/
!cst/
!cst/**/
!rtl/
!rtl/**/
!tb/
!tb/**/
!scripts/
!scripts/**/

!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.svh
!*.sv
!*.vh
!*.v
!*.py
